<!DOCTYPE HTML>
<html>
	<head>
		<title>Furo BTFD</title>
		<link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload" onload = "get_asset_data()">
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>BTFD</h1>

					</header>

					<nav id="nav">
						<ul>
							<li><a href="/">Asset Baskets</a></li>
							<li><a href="/btfd"class="active">BTFD</a></li>
							<li><a href="/create_index">Create Baskets </a></li>
							<li><a href="/your_index">Your Baskets </a></li>
							<li><a onclick="getAccount()">
								{% if session['phantom_key'] %} 
										Disconnect Phantom Wallet 
								{% else %}  
									Connect Phantom Wallet
								{% endif %}	
							</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<section id="intro" class="main">
							<div class="spotlight">
								<div class="content">
									{% with messages = get_flashed_messages() %}  
										{% if messages %}  
											<h3>Order placed on Mango dex</h3>
											{% for message in messages %}  
												<blockquote>{{ message }}</blockquote>  
											{% endfor %}  
										{% endif %}  
									{% endwith %} 

									<form action="/btfd" method="post">

									<div class="table-wrapper">
										
										<table id="asset-data-table">
											
												<thead>
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td><input type="submit" class="button primary small" value="Place order on Mango Dex"></td>
													</tr>
													<tr>
														<th width="5%">#</th>
														<th width="50%">Market</th>
														<th width="20%">Price</th>
														<th width="5%">Select</th>
														<th width="20%">%dip</th>  
													</tr>
												</thead>
												<tbody id="asset-data-table-tbody">
												</tbody>
													
												<tfoot>
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td><input type="submit" class="button primary fit" value="Place order on Mango Dex"></td>
													</tr>
												</tfoot>
											
										</table>
									</div>
								</div>
							</form>
							</div>
						</section>
					</div>

				<!-- Footer -->
				{% include 'footer.html' %}

			</div>
		
		</script>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/btfd.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/phantom_connect.js') }}"></script>
		<script>

			var val = "{{return_val}}"
			console.log(val)
			if(val!=""){
				alert(val);
			}
		</script>
	</body>
</html>