<footer id="footer">
    <section>
        <h2>About Us</h2>
        <p>Furo is an investment platform that offers customised baskets built for long term wealth creation and
            portfolio building. Our baskets are weighted intelligently after thorough research by industry experts with
            prior experience from organisations like Barclays, CERN and BNY Mellon. We aim to make investing in crypto
            better and simple.</p>
        <ul class="actions">
            <li><a href="https://tejasv-sharma.gitbook.io/litepaper/" class="button">Litepaper</a></li>
        </ul>
    </section>
    <section>
        <h2>Contact Us</h2>
        <dl class="alt">
            <dt>Email</dt>
            <dd><a href="/create_index">support@furo.capital</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
        </ul>
    </section>
    <p class="copyright">&copy; Furo. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>