<!DOCTYPE HTML>
<html>
	<head>
		<title>Furo Your Basket</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload" onload = "get_custom_index_data()">
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Your Custom Baskets</h1>
						<p>
							{% with messages = get_flashed_messages() %}  
								{% if messages %}  
									{% for message in messages %}  
										<p>{{ message }}</p>  
									{% endfor %}  
								{% endif %}  
							{% endwith %}  
						</p>
					</header>

					<nav id="nav">
						<ul>
							<li><a href="/" >Asset Baskets</a></li>
							<li><a href="/btfd">BTFD</a></li>
							<li><a href="/create_index">Create Baskets </a></li>
							<li><a href="/your_index" class="active">Your Baskets </a></li>
							<li><a onclick="getAccount()">
								{% if session['phantom_key'] %} 
										Disconnect Phantom Wallet 
								{% else %}  
									Connect Phantom Wallet
								{% endif %}
							</a></li>
						</ul>
					</nav>
					

				<!-- Main -->
					<div id="main">
						<section id="intro" class="main">
							<div class="spotlight">
								<div class="content">
									<select name="selectIndex" id="selectIndex" onchange="changeFunc();">
										<option value="">- Select your custom basket -</option>
									</select>
									<br>
									<div class="table-wrapper">
										<table id="pyth-data-table">
											<thead>
												<tr>
													<th width="5%">#</th>
													<th width=65%>Market</th>
													<th width=20%>Price</th>
													<th width=10%>Weights</th>
												</tr>
											</thead>
											<tbody id="pyth-data-table-tbody">

											</tbody>
											<tfoot>
												<tr>
													<td></td>
														<td><input type="text" id="basket_quantity" name="basket_quantity" placeholder="Enter order quantity"></td>
														<td></td>
														<td><a id="place_order" class="button primary fit small" onclick="place_order()">Place Order</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>

					{% include 'footer.html' %}

			</div>
		
		</script>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/your_index.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/phantom_connect.js') }}"></script>

	</body>
</html>